<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xuecheng.manage_course.mapper.CategoryMapper">
    <resultMap id="BaseResultMap" type="com.xuecheng.framework.domain.course.Category" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="label" property="label" jdbcType="VARCHAR" />
        <result column="parentid" property="parentid" jdbcType="VARCHAR" />
        <result column="isshow" property="isshow" jdbcType="VARCHAR" />
        <result column="orderby" property="orderby" jdbcType="INTEGER" />
        <result column="isleaf" property="isleaf" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
       `id`,`name`,`label`,`parentid`,`isshow`,`orderby`,`isleaf`
   </sql>

    <select id="findAllCategory" resultType="com.xuecheng.framework.domain.course.Category">
        select
        <include refid="Base_Column_List"/>
        from `xc_course`.`category`;
    </select>
</mapper>